* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Mukta Mahee", sans-serif;
}

h1{
    color: #50a397;
}

/*------------------------------------GENERAL  HEADER ------------------------------------------*/
.regularHeader {
    background-color: #ebebeb;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.regularHeader img {
    height: 90%;
}

/*------------------------------------DESKTOP  HEADER ------------------------------------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
}

#buyMoreDollarsLogo {
    width: 15%;
    margin: 1.5rem 0rem;
}

main {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

p {
    line-height: 1.5rem;
}
section {
    width: 75%;
    margin: 0 auto;
}
/*------------------------------------ FORM PAGE ------------------------------------------*/

#formPageElements {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 0rem;
}

.mobileHeader {
    display: none;
}

/* ?------------------------------------SPONSORS COMPONENT ------------------------------------------*/
.sponsors {
    background-color: #ebebeb;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
}
.sponsors h3 {
    font-size: 2.5rem;
    color: #777777;
}
.sponsorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "a a d e";
    gap: 7px;
    height: 30vh;
}
.sponsorItem {
    background-color: #333333;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
}
.sponsorA {
    grid-area: a;
}
.sponsorA img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sponsorB {
    grid-area: b;
    background-color: #ff621d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sponsorC {
    grid-area: c;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsorD {
    grid-area: d;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsorE {
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsorB img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.sponsorC img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.sponsorD img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.sponsorE img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

/* -----------------------Legal Page --------------------------------*/

#legalPageElements{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 0rem;
}

#termsSection{
    float: right;
}

.termsBox {
    height: 15rem;
    width: 90%;
    background-color: #EBEBEB;
    margin-left: 4rem;
    overflow-x: hidden;
    padding: 2rem;
}

.termsBox p {

}

#terms {
    margin-top: 1.3rem;
}

/* !------------------------------------GAME PAGE ------------------------------------------*/
.gameSection {
    background-color: #fffdda;
    width: 100%;
    padding: 0 12.5%;
}
.titleInfo h1 {
    font-size: 3rem;
    margin: 0;
}
.titleInfo h3 {
    margin: 0;
}
.gameInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    margin: 1rem 0;
}
.gameTile {
    background-color: #50a397;
    background-image: url(./images/franges.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    width: 19%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid white;
    outline-offset: -15px;
}
.logoFrange {
    background-color: rgba(135, 222, 213, 0.7);
    width: 100%;
    text-align: center;
    padding: 0.8rem;
}
.logoFrange img {
    width: 45%;
}
.gameInfo * {
    background-color: #999999;
    text-align: center;
    color: black;
    padding: 0.5rem;
    width: 48%;
    font-weight: 600;
    font-size: 1.3rem;
}

/****************** Styling the Sidebar Ad on Desktop *****************/

#formDesktopAd {
    display: flex;
    width: 43%;
    float: left;
    margin: 3.17rem 3rem 3.17rem 0rem;
    background-color: #50a397;
    height: 80%;
    padding: 3rem;
    flex-direction: column;
}
#formDesktopAd #moneyBagText {
    width: 50%;
    padding-bottom: 2rem;
}
#formDesktopAd #moneyBag {
    width: 80%;
    padding-bottom: 2rem;
}
.formDesktopAdImages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.whiteText {
    color: white;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
}

/************ Styling Form ***********/

form {
    width: 50%;
    float: left;
}

form h1 {
    color: #50a397;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    background-color: #f3f3f3;
    font-family: "Mukta Mahee", sans-serif;
    border: #b8b8b8 solid 0.3px;
    border-radius: 2px;
    font-size: 15px;
    color: #000000;
    width: 100%;
}

::placeholder {
    font-size: 15px;
    color: #8e8c8c;
    font-family: "Mukta Mahee", sans-serif;
}
.desktopOneLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.desktopOneLine div {
    width: 49%;
}

#firstName,
#city {
}

#lastName,
#province {
}

.checkBoxOneLine {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.checkBoxOneLine p {
    padding-left: 1rem;
    line-height: 1rem;
}

input[type="checkbox"] {
    width: auto;
}

input:focus {
    outline: none !important;
}

#fname {
    width: 48%;
}

#lname {
    margin-left: 10px;
    width: 48%;
}

.line {
    background-color: #e7e7e7;
    height: 2px;
    width: 100%;
    margin: 2.5rem 0;
}

.form_control input:focus {
    outline: 0;
    border-color: #777;
}

.form_control.success input {
    border-color: #2ecc71;
}

input.form-error {
    border-color: #e74c3c;
}
.errorMessage {
    color: #e74c3c;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
}

/***** CheckBox setup ********/

form p {
    font-family: "Mukta Mahee", sans-serif;
    color: #939393;
    font-size: 12px;
    display: block;
    padding-left: -5px;
    margin-left: 2px;
    text-indent: -5px;
    border-radius: 0px;
}
.checkboxSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.checkboxSection input .checkBoxes {
    width: 20px;
    height: 20px;
    border-radius: 0px;
    /* padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px; */
}

/***** Submit Button *****/

#submitButton {
    font-weight: 700;
    font-size: 20px;
    background-color: #fbdf25;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
}

#submitButton:hover {
    color: #50a397;
}

/*           Error Message Styling            */

#message {
    font-family: "Mukta Mahee", sans-serif;
    font-size: 15px;
}

#thanks {
    display: none;
    flex-direction: column;
    background-color: #50a397;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#img_1 {
    width: 200px;
}

#thanks_text h2 {
    text-align: center;
    font-family: "Mukta Mahee", sans-serif;
    color: white;
}

#thanks_text p {
    text-align: center;
    font-family: "Mukta Mahee", sans-serif;
    color: white;
}

/*------------------------------------ FOOTER ------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    margin-top: 2rem;
    padding: 1rem;
}

footer #imgName {
    width: 10%;
    height: 10%;
}

footer p {
    margin-left: 0.5rem;
    line-height: 0;
}

#rules {
    margin-left: 45%;
    text-decoration: underline;
}

#rules:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    #buyMoreDollarsLogo {
        width: 40%;
        display: flex;
    }

    header {
        background-color: #ffffff;
    }
    .mobileHeader {
        background-color: #50a397;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .formMobileAdImages {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }

    .formMobileAdImages #moneyBagTextM {
        width: 34%;
    }

    .formMobileAdImages #moneyBagM {
        width: 40%;
        padding-right: 2rem;
    }

    .mobileHeader p {
        font-size: 0.8rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .mobileHeader .whiteText {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .mobileHeader #underlineText {
        text-align: left;
        padding-bottom: 0;
    }

    /*------------------------------------ FORM PAGE ------------------------------------------*/

    .mobileHeader {
        display: inline;
        display: flex;
        flex-direction: column;
    }

    #formDesktopAd {
        display: none;
    }

    footer {
        display: none;
    }

    #firstName,
    #city {
    }

    #lastName,
    #province {
    }

    #formPageElements {
        width: 100%;
        margin: 0;
    }

    form {
        width: 100%;
        padding: 1.3rem;
    }

    form h1 {
        color: #50a397;
        font-size: 1.2rem;
    }

    /*------------------------------------ LEGAL PAGE ------------------------------------------*/

    #legalPageElements {
        width: 100%;
        margin: 0;
    }

    #terms{
        margin-left: 2rem;
    }

    .termsBox{
        margin: 1rem;
    }
}
